<!doctype html>
<html lang="en">
<head>
    <title>header example</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/red-styles.css" th:href="@{/css/red-styles.css}" th:fragment="red-styles"/>
    <link rel="stylesheet" href="/static/css/blue-styles.css" th:href="@{/css/blue-styles.css}" th:fragment="blue-styles"/>
</head>

<body>

<header th:fragment="header-content">
    <!-- 헤더 내용 -->
    <h1 class="red-text">
        헤더의 내용
    </h1>
</header>

</body>
</html>





